<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Email Template</title>
    <style>
        * {
            font-family: sans-serif;
        }
        table, tr {
            border-collapse: collapse;
            border: 1px solid black;
        }
        td {
            width:50%;
        }
    </style>
</head>
<body>

<div style="width: 600px;height: 200px; margin: auto;">
    <h2 align="center">Votre commande numéro {{ order.id }}</h2>
    <p style="text-align: justify">
        Bonjour,<br/>
        Merci pour votre commande ! Par ce mail nous accusons réception de cette dernière. Vous trouverez ci-dessous
        tous les éléments nécessaires pour votre visite. Merci d'imprimer ce mail ou présentez-le à l'accueil lors de votre
        arrivée au musée. <br/>
        Bonne visite ! <br/>
        <br/>
        Toute l'équipe du musée du Louvre.

    </p>
    <ul>
        <li>
            Numéro de commande : {{ order.id }}
        </li>
        <li>
            Date de la commande : {{ order.date|date("d/m/Y") }}
        </li>
        <li>
            Prix total : {{ order.price }} €
        </li>
        <li>
            Adresse email : {{ order.email }}
        </li>
    </ul>
    <table width="100%">
        <h3>Liste des billets</h3>
        {% for ticket in order.tickets %}
        <tr>
            <th>
                <h4>Billet numéro: {{ ticket.id }} </h4>
            </th>
        </tr>
        <tr>
            <td>

                Nom : {{ ticket.lastname }}<br/>
                Prénom : {{ ticket.lastname }}<br/>
                Date de naissance : {{ ticket.birthdate|date("d/m/Y") }}<br/>
                Pays : {{ ticket.country }}<br/>
            </td>
            <td>
                Type : {{ ticket.type }}<br/>
                Tarif réduit :
                {% if ticket.discountticket %}
                    Oui <p><small>Une pièce justificative vous sera demandée</small></p>
                {% else %}
                    Non
                {% endif%}<br/>
                Prix : {{ ticket.price }} €<br/>
            </td>
        </tr>
        {% endfor %}
    </table>
    <p style="text-align: center">
        <strong>Pour toutes questions ou modification de commande:</strong>
        <p>
        <strong>Musée du Louvre</strong><br/>
        Tel : <a href="tel:+33778246403">+33 7 78 24 64 03</a>

        </p>
    </p>
</div>
</body>
</html>