{# src/SebUndefined/ShopBundle/Resources/views/Advert/index.html.twig #}
{% extends "SebUndefinedShopBundle::shoplayout.html.twig" %}

{# Define the title of the page #}
{% block title %}Home - {{ parent() }} {% endblock %}

{% block sebundefined_body %}
    <div class="container-fluid">
        <div class="row">
            <div id="homeForm" class="col-md-8 col-sm-6 col-xs-12">
                <div class="well">
                    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                    {{ form_errors(form) }}
                    <div class="form-group">
                        {{ form_label(form.visitDate, "Date de votre visite", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.visitDate) }}
                        <div class="col-sm-9">
                                {{ form_widget(form.visitDate) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.number, "Nombre de billet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.number) }}
                        <div class="col-sm-9">
                                {{ form_widget(form.number) }}
                        </div>
                    </div>
                    <div class="form-group">
                        {{ form_label(form.type, "Type de billet", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.type) }}
                        <div class="col-sm-9">
                                {{ form_widget(form.type) }}
                        </div>
                    </div>
                    <div class="form-group text-right">
                        <div class="col-sm-12">
                            {{ form_widget(form.submit, { 'label': 'Suivant' }) }}
                        </div>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
            <div id="homeHelp" class="col-md-4 col-sm-6 col-xs-12">
                <div class="helper">
                    <h2>Aide</h2>
                    <p>
                        Bienvenue sur le système de réservation du musée du Louvre.
                    </p>
                    <p>
                        Rappel sur les conditions de réservation:
                    </p>
                    <p>
                        <strong>Date de votre visite:</strong> vous pouvez réserver pour une date donnée. Il est impossible
                        de réserver le mardi et le dimanche. Les jours fériés suivants sont également exclus :
                        <ul>
                            <li>
                                1<sup>er</sup> mai
                            </li>
                            <li>
                                1<sup>er</sup> novembre
                            </li>
                            <li>
                                25 décembre
                            </li>
                        </ul>
                        Naturellement, il est impossible de réserver pour une date antérieure.
                    </p>
                    <p>
                        <strong>Nombre de billet:</strong> vous pouvez réserver entre 1 et 50 billets.
                    </p>
                    <p>
                        <strong>Type de billet : </strong> Journée ou demi-journée. Ce dernier vous permet de rentrer à partir
                        de 14H le jour de votre visite.
                    </p>
                </div>

            </div>
        </div>
    </div>
{%  endblock %}
