{# src/SebUndefined/ShopBundle/Resources/views/Advert/index.html.twig #}
{% extends "SebUndefinedShopBundle::shoplayout.html.twig" %}

{# Define the title of the page #}
{% block title %}Home - {{ parent() }} {% endblock %}

{% block sebundefined_body %}
    <div class="container-fluid">
        <div class="row">
            <div id="homeForm" class="col-md-8 col-sm-6 col-xs-12">

                {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
                {{ form_errors(form) }}
                <div class="well">
                    <div class="alert alert-info">
                        <strong>Information</strong> Cette adresse email nous servira à vous envoyer votre confirmation de paiment ainsi que vos billets !
                    </div>
                    <div class="form-group">
                        {{ form_label(form.email, "Votre adresse email", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                        {{ form_errors(form.email) }}
                        <div class="col-sm-9">
                            {{ form_widget(form.email) }}
                        </div>
                    </div>
                </div>

                {% for ticket in form.tickets %}
                    <div class="well">
                        <div class="form-group">
                            {{ form_label(ticket.firstName, "Prénom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(ticket.firstName) }}
                            <div class="col-sm-9">
                                {{ form_widget(ticket.firstName) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(ticket.lastName, "Nom", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(ticket.lastName) }}
                            <div class="col-sm-9">
                                {{ form_widget(ticket.lastName) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(ticket.birthDate, "Date de naissance", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(ticket.birthDate) }}
                            <div class="col-sm-9">
                                {{ form_widget(ticket.birthDate) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(ticket.country, "Pays", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(ticket.country) }}
                            <div class="col-sm-9">
                                {{ form_widget(ticket.country) }}
                            </div>
                        </div>
                        <div class="form-group">
                            {{ form_label(ticket.discountTicket, "Tarif réduit ?", {'label_attr': {'class': 'col-sm-3 control-label'}}) }}
                            {{ form_errors(ticket.discountTicket) }}
                            <div class="col-sm-9">
                                {{ form_widget(ticket.discountTicket) }}
                            </div>
                        </div>
                    </div>

                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-9">
                        {{ form_widget(form.submit, { 'label': 'Suivant' }) }}
                    </div>
                </div>

                    {{ form_end(form) }}

            </div>
            <div id="homeHelp" class="col-md-4 col-sm-6 col-xs-12">
                <div class="helper">
                    <h2>Aide</h2>
                    <p>
                        Renseignez les informations des visiteurs
                    </p>
                    <p>
                        Rappel :
                    </p>
                    <p>
                        <strong>Adresse email:</strong> l'adresse email à laquelle vous souhaitez recevoir vos billets
                    </p>
                    <p>
                        <strong>Information:</strong> merci de renseigner ces informations le plus précisément possible. Notez qu'en cas de tarif réduit, une pièce justificative vous sera demandée.
                    </p>
                </div>

            </div>
        </div>
        </div>
    </div>

{% endblock %}